.product {
    border: 1px solid lightsalmon;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product .banner {
    padding: 8px;
}

.product .banner img {
    width: 100%;
}

.product-info {
    padding: 8px;
}

.product-info p {
    margin: 0;
}

.product-info h3,
.product-info h4 {
    margin: 0;
}

.add-to-cart-btn {
    padding: 8px 10px;
    background-color: rgb(255, 201, 102);
    color: aliceblue;
    text-align: center;
    border: 1px solid rgb(255, 201, 102);
    cursor: pointer;
}