.header {
    background-color: rgb(31, 29, 29);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links a {
    padding: 0 13px;
    color: aliceblue;
    text-decoration: none;
    transition: .2s ease-in-out color;
}

.nav-links a:hover {
    color: orange;
}

.cart-btn {
    padding: 5px 8px;
    background-color: orange;
    color: black;
    border: 1px solid aliceblue;
    cursor: pointer;
}